@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

body {
  font-family: "Rowdies", cursive;
}

.container {
  background: darkblue;
  width: max-content;
  margin: auto;
}

.display {
  width: 100%;
  background-color: lightgrey;
  height: 75px;
  font-size: 48px;
  display: flex;
  justify-content: flex-end;
}

.buttons {
  max-width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

button {
  flex-grow: 1;
  flex-basis: 25%;
  font-family: "Rowdies", cursive;
  font-size: 20px;
}

.number {
  background-color: darkgrey;
}

.operator {
  background-color: darkgoldenrod;
}

.ravno {
  background-color: darkolivegreen;
}

.clear {
  background-color: darkred;
}
